# Configuration files
config/initializers/secret_token.rb
config/initializers/airbrake.rb

*.rbc
*.sassc
.project
.rvmrc
.rvmrc.*
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/structure.sql
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/config/application.yml
/config/database.yml
/config/initializers/recaptcha.rb
/config/initializers/lastfm.rb
/config/initializers/musicbrainz.rb
/config/email.yml
