<% if resource.state_events.select{|event| can? event, resource }.any? %>
<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= t('general.actions') %></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">    
  <% resource.state_events.select{|event| can? event, resource }.each do |event| %>
    <li>
      <%= link_to t("workflow.user.#{event}_task"), eval("#{event}_task_workflow_user_index_path(resource)"), method: :put %> 
    </li>
  <% end %>
  </ul>
</div>
<% end %>  