<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h3><%= I18n.t('workflow.index.assigned_tasks') %></h3>
      
      <%= render 'tasks', collection: @assigned_tasks, columns: ['name', 'story_id'] %>
    </div>
    <div class="span6">
      <h3><%= I18n.t('workflow.index.completed_tasks') %></h3>
      
      <%= render 'tasks', collection: @completed_tasks, columns: ['name', 'story_id'] %>
    </div>
  </div>
</div>
