<div class="container-fluid">
  <div class="row-fluid">
    <div class="tabs">
      <ul>
        <li><a href="#candidatures"><%= I18n.t('candidatures.index.title') %></a></li>
        <li><a href="#vacancies"><%= I18n.t('vacancies.index.title') %></a></li>
      </ul>
      <div id="candidatures">
        <%= render 'candidatures' %>
      </div>
      <div id="vacancies">
        <%= render 'vacancies' %>
      </div>
    </div>  
  </div>
</div>
