<%= simple_form_for(@story, html: {class: 'floating_form form-vertical'}) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @story } %>
  <% if step == :activate %>
  <input type="hidden" name="next_step" value="1"/>
  <% end %>
  <div class="form-inputs">
    <%= render partial: 'tasks/collection', locals: { 
      collection: @story.tasks.select{|t| !t.new_record? }, 
      options: { current_parent: @story, columns: @step_presenter.task_columns } 
    } 
    %>
  </div>
    
  <div class="form-actions">
    <%= f.button :submit, t('general.events.activate') %>
  </div>
<% end %>
