/*
 *= require jquery.ui.all
 */

/*body {
  font-family: Arial;
}*/

.ui-widget {
  font-family: Arial;
  font-size: 10px;
}

html, body, div, span {
  font-family: Arial;
  font-size: 10px;
}

.nav a {
  font-family: Arial;
  font-size: 10px;
}

.nested_comments {
  margin-left: 30px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

.footer {
  margin-top: 20px;
}

.floating_form fieldset .control-group {
  float: left; 
  margin-right: 10px;
  margin-bottom: 0px;
}
