<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>

<% 
# TODO: get link working in test environment
%>
<% unless Rails.env == 'test' %>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<% end %>
